[submodule "vendor/busybox"]
	path = vendor/busybox
	url = https://github.com/CubeLander/busybox.git
	branch = master
[submodule "vendor/lwext4"]
	path = vendor/lwext4
	url = https://github.com/CubeLander/lwext4.git
[submodule "vendor/musl"]
	path = vendor/musl
	url = https://github.com/CubeLander/musl.git
	branch = master
[submodule "vendor/dtc"]
	path = vendor/dtc
	url = https://github.com/CubeLander/dtc.git
